

header{
    background-color:#b0f2b6;
    border: 2px solid black;
    margin-bottom:30px;
    position: relative;
}


.logo{
    position: absolute;
    left: 0;
    top: 8%;
}


.titre
{
     text-align: center;
}


h1{	
	display: inline-block;
	text-align:center;
	font-family:georgia;
	font-size: 50px;
	

}


.propos{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	margin-top:20px;
	margin-left:20px;

}

.un{
	box-shadow:3px 3px 9px 5px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	margin-left:30px;
	margin-right:30px;
	text-align:justify;
	line-height:30px;
	font-family:georgia;
	font-size:18px;
	width:500px;
	height:280px;
}

.sea{
	border: 1px solid black;
}

.destination{
	
	display:flex;
	flex-direction:center;
	justify-content:center;
	margin-top:50px;
	margin-bottom:50px;

}

.party{
	border: 1px solid black;
}


.public{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
	margin-top:50px;
	margin-bottom:50px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:50px;
}


.deux{
	box-shadow:-3px 3px 9px 5px;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align:justify;
	line-height:30px;
	font-family:georgia;
	font-size:18px;
	width:400px;
	height:240px;
}

.jet{
	border: 1px solid black;
}

.epilogue{
	padding-bottom:30px;
	font-family:Chalkduster;
	font-size:40px;
	text-align:center;
}